body {
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #EDF4C2;
}
.header {
    background-color: #EB5A3C;
    color: aliceblue;
    font-size: 28px;
    margin:auto 10%;
    padding: 1px;
    text-align: center;
}

.list {
    font-size: 22px;
}
.title {
    text-align: left;
}
#homepage {
    background-color: #DF9755;
}
img {
    height: 210px;
    width: 210px;
}

a {
    text-decoration: none;
}